.sider 
  .inner-menu
    ul 
      li 
        a(href=`${prefixAdmin}/dashboard/manager`) Tổng quan
      li 
        a(href=`${prefixAdmin}/hanghoa`) Hàng hóa
      li 
        a(href=`${prefixAdmin}/nhacungcap`) Nhà cung cấp
      li 
        a(href=`${prefixAdmin}/khachhang`) Khách hàng
      li 
        a(href=`${prefixAdmin}/hoadon`) Hóa đơn

      li 
        a(href=`${prefixAdmin}/doanhthu`) Doanh thu
      

      